* {margin: 0;padding: 0;box-sizing: border-box;}
img {max-width: 100%;}
body {background: #fff;font-size: 16px;line-height:25px;font-family: 'Poppins', sans-serif;color: #242f51;position: relative;}
ul {list-style: none;padding: 0;}
p {font-size: 14px;line-height: 25px;font-weight: 300;}
a {color: #0e78b6;}

/* ----- Heading Font CSS ------ */

h1,h2,h3,h4,h5,h6 {font-weight: 700;}
h1{font-size: 30px;}
h2{font-size: 24px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
a:focus, .btn:focus, button:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, input, textarea, select {outline: none;box-shadow: none;}
a, .fa{transition: all .25s ease;-webkit-transition: all .25s ease;-moz-transition: all .25s ease;-o-transition: all .25s ease;}
.clear{clear: both;overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* Main CSS */
.fullwidth{width: 100%;float: left;}
.wrapper{max-width: 1170px;margin: 0 auto;}
.dummy-content{padding: 160px 0 160px;}
.dummy-content h1{margin-bottom: 30px;}
.dummy-content h2{margin-bottom: 20px;}
.dummy-content p{margin-bottom: 20px;}

/* Header CSS */
header{width: 100%;float: left;padding: 30px 0 0 0;}
header .logo{width: 117px;float: left;padding-top: 14px;}
header .menu{width: calc(100% - 117px);float: left;}
header .menu ul{text-align: right;}
header .menu ul li{display: inline-block;margin-left: 32px;}
header .menu ul li a{text-decoration: none;color: #242f51;}
header .menu ul li a:hover{color:#fcae61;}
header .menu ul li.free-btn{margin-left: 51px;}
header .menu ul li.free-btn a{background: #2500f9;color: #fff;padding: 21px 42px;line-height: 1;display: inline-block;border-radius: 30px;}
header .menu ul li.free-btn a:hover{background: #feaa25;}
.mobile_menu_icons{display: none;}
.cross{display: none;}

/* Banner CSS */
.banner{background: url(./images/banner.jpg)center center no-repeat; background-position: center;min-height: 848px;margin-top: 40px;}
.banner a{text-decoration: none;color: #2500f9;}
.banner a.free-btn{background: #2500f9;color: #fff;padding: 21px 42px;line-height: 1;display: inline-block;border-radius: 30px;margin-right: 24px;}
.banner .left-details{width: 54%;float: left;padding: 244px 0 0 73px;}
.banner .left-details h5{background: #e2eaed;display: inline-block;font-size: 18px;padding: 0 48px 0 0;border-radius: 17px;}
.banner .left-details h5 i{display: inline-block;background: #feaa25;color: #fff;padding: 7px 9px;font-size: 22px;border-radius: 30px;}
.banner .left-details h2{color: #242f51;font-size: 60px;line-height: 72px;padding-top: 16px;margin-bottom: 24px;}
.banner .left-details p{font-size: 18px;margin-bottom: 40px;}
.banner .right-image{width: 46%;float: right;text-align: right;padding-right: 28px;padding-top: 19px;}
.banner a.plain-btn:hover{color:#fcae61;}
.banner a.free-btn:hover{background: #feaa25;}

/* Companies CSS */
.companies{padding-top: 110px;}
.companies p{font-size: 16px;text-align: center;}
.companies img{width: auto !important;}
.companies .logoSlider{padding-top: 37px;}
.companies .logoSlider .imgBox{min-height: 84px;display: flex;align-items: center;}

/* Service CSS */
.service{padding-top: 156px;}
/* .service .wrapper{max-width: 1250px;} */
.service .imagebox{width: 49%;float: left;padding-left: 82px;}
.service .service-details{width: 51%;float: right;}
.service .service-details h2{font-size: 36px;line-height: 45px;padding-top: 47px;padding-bottom: 16px;}
.service .service-details p{font-size: 16px;}
.service .service-details ul{padding: 28px 0 0;}
.service .service-details ul li{padding: 0 0 0 122px;margin: 59px 0;}
.service .service-details ul li:nth-child(1){background: url(./images/speed.png)left center no-repeat;}
.service .service-details ul li:nth-child(2){background: url(./images/prototyping.png)left center no-repeat;}
.service .service-details ul li:nth-child(3){background: url(./images/vector.png)left center no-repeat;}

.service .service-details ul li h3{margin-bottom: 10px;}
.service .service-details ul li:nth-child(1) h3{color: #f55767;}
.service .service-details ul li:nth-child(2) h3{color: #2563ff;}
.service .service-details ul li:nth-child(3) h3{color: #40975f;}

/* Download CSS */
.download{background: url(./images/Img-3.png)right center no-repeat;min-height: 472px;margin-top: 69px;position: relative;z-index: 2;}
.download .left-details{width: 52%;float: left;padding-top: 75px;margin-left: 14px;}
.download .left-details h2{line-height: 1;margin-bottom: 32px;font-size: 48px;}
.download .left-details p{font-size: 16px;margin-bottom: 46px;}
.download .left-details ul{display: flex;margin-left: 7px;}
.download .left-details ul li{margin-right: 33px;}
.download .left-details ul li a:hover{opacity: .7;}

/* Footer CSS */
footer{background:#09142e;padding: 114px 0 158px;margin-top: -60px;}
footer .footer-logo{text-align: center;}
footer .footer-links{padding: 40px 0 50px;}
footer .footer-links ul, .social-icon ul, .copyright p{text-align: center;}
footer .footer-links ul li{display: inline-block;margin: 0 16px;}
footer .footer-links ul li a{text-decoration: none;color: #fff;}
footer .footer-links ul li a:hover{color:#fcae61}
footer .social-icon ul li{display: inline-block;margin: 0 8px;}
footer .social-icon ul .fa{font-size: 33px;color: #273043;}
footer .social-icon ul .fa:hover{color: #fff;}
footer .copyright {padding-top: 80px;}


/* Responsive Css Start */
@media only screen and (max-width: 1170px) {
.wrapper{width: 100%;padding: 0 15px;}
header{padding: 30px 0 0;}
.banner{margin-top: 40px;}
.banner .left-details{padding: 150px 0 0 30px;}
.banner .left-details h2{font-size: 52px;}
.banner .right-image{padding-right: 0;}
.service{padding-top: 70px;}
.service .imagebox{padding-left: 30px;}
.service .service-details{width: 48%;}
.companies .logoSlider .imgBox{justify-content: center;}

.download .left-details{position: relative;z-index: 2;}
.download .left-details h2{font-size: 36px;}
.download{position: relative;margin-top: 0;}
.download::before{content: ""; background: rgba(255, 255, 255, 0.8);position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 1;}
footer{position: relative;z-index: 3;padding: 70px 0;}

}


@media only screen and (max-width: 1023px) {

header .logo{padding-top: 0;}
.menu{display: none;}
.mobile_menu_icons{display: block;width: auto;float: right;}
.mm_menu {position: fixed;left: 0;top: 0; background: #2500f9;width: 250px;height: 100%;padding: 20px;}
.mm_menu ul li{margin-bottom: 20px;}
.mm_menu ul li a{text-decoration: none;color: #fff;}
.menu-bar{background: transparent;border: none;}
.mm_menu .cross{background: transparent;border: none;position: absolute;right: 10px;top: 10px;display: block;}

.banner{margin-top: 0px;}
.banner .left-details h2{font-size: 34px;line-height: 1.4;}
.banner .left-details p br{display: none;}
.banner{min-height: 100%;padding-bottom: 60px;}
.companies{padding-top: 40px;}
.service .imagebox,.service .service-details{width: 100%;padding: 0 25%;}

}

@media only screen and (max-width: 767px) {

.banner .left-details{width: 100%;padding: 45px 0 0 30px;}
.banner .right-image{width: 100%;float: left;text-align: center;padding: 0 25% !important;margin: 30px 0 40px;}
.banner{padding-bottom: 0;background-size: cover;}
.service .imagebox, .service .service-details{padding: 0 20%;}
.service .service-details ul{padding: 0;}
.download .left-details{width: 100%;padding-top: 40px;margin-left: 0;}
.download{background-size: cover;min-height: 410px;}

}

@media only screen and (max-width: 600px) {

.banner .left-details h2{font-size: 30px;line-height: 1.3;}
.banner a.free-btn{padding: 15px 35px;}
.banner .left-details{padding: 20px 0 0;}
.banner .left-details h5{font-size: 16px;}
.service .imagebox, .service .service-details{padding: 0 15px;}
.service .service-details p br{display: none;}
.service .service-details ul li{margin: 40px 0;}
.service .service-details h2{padding-top: 0;font-size: 30px;}
.service .service-details h2 br{display: none;}
.download{min-height: 370px;}
.download .left-details h2{font-size: 26px;}
footer .footer-links ul li{margin: 15px 0;display: block;}
footer .copyright{padding-top: 45px;}
footer{padding: 60px 40px;}
footer .footer-links{padding: 20px 0 50px;}


}

@media only screen and (max-width: 320px) {
    .banner .left-details h5{font-size: 12px;}
    .banner .left-details h2{font-size: 26px;}
}